<div class="row">
  <div class="span12 divider">
  </div>
</div>
<div class="footer">
  <p><a href="http://www.devingaffney.com">Devin</a> <a href="http://en.wikipedia.org/wiki/<%= Time.now.year %>"><%= Time.now.year %></a> | <a href="/latest_stats">Stats</a></p>
</div>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Minimum Value</th>
      <th>First Quartile</th>
      <th>Second Quartile</th>
      <th>Third Quartile</th>
      <th>Maximum</th>
      <th>Median</th>
      <th>Mode</th>
      <th>Mean</th>
      <th>Standard Deviation</th>
      <th>Sum</th>
      <th>Sample Variance</th>
      <th>Elbow</th>
      <th>Number of Observations</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

"followers_count"=>
 {"min"=>0,
  "first_quartile"=>0,
  "second_quartile"=>1,
  "third_quartile"=>8,
  "max"=>63397,
  "median"=>1,
  "mode"=>0,
  "mean"=>44.571403038427164,
  "standard_deviation"=>870.6452927440589,
  "sum"=>249377,
  "sample_variance"=>758023.2257773881,
  "elbow"=>1856,
  "n"=>5595},
