
<% if @results.empty? %>
<div class="row">
  <div class="span12 divider">
    <h1>Four oh four Longitudinal Data not found!</h1>
    <p>For some reason, the run did not generate a report at the end. This is dumb, and I am dumb. I am sorry. Please take this gif in exchange.</p>
    <img src="http://images03.imikimi.com/image/1RJKa-10a-1.gif?height=400&scale=max&width=400"/>
  </div>
</div>
<% else %>
<div class="row">
  <div class="span12 divider">
    <h1>Longitudinal data <%= name_for_length_longitudinal params[:length] %></h1>
    <p>For this time series, we have a total of <%= @results.length %> datasets to compare across.</p>
  </div>
  <% [:followers_count, :statuses_count, :favourites_count, :friends_count, :listed_count].each do |attribute| %>
  <div class="span12">
    <%= partial "/charts/time_series_quantifiable", :locals => {data: {:dataset => @results[attribute], :name => attribute}} %>      
  </div>
  <% end %>
  
</div>
<% end %>